@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body{
    margin: 0;
    padding: 0;
    font-family: "Quattrocento Sans", sans-serif;
    color: white;
}

body{
    background-color: #020D18;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
    filter: blur(10px);
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%; /* Define a altura do efeito de opacidade */
    background: linear-gradient(to bottom, rgba(2, 13, 24, 0) 0%, rgba(2, 13, 24) 100%);
    pointer-events: none; /* Não interfere na interação com o vídeo */
}

.div-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}


.logotipo{
    width: 200px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.nav-link.btn-contato{
    border: 2px solid #7869FF;
    padding: 5px;
    border-radius: 10px;
}

.nav-link.btn-contato:hover{
    background-color: #7869FF;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

/* Estilização do menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #a097f3;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu a {
    color: black;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    display: flex;
}

.dropdown-menu a img{
    margin-right: 5px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.frase{
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    margin-right: 10px;
}

.servicos{
    padding: 15px 65px 15px 65px;
}

.div-frase{
    padding: 0px 120px;
    margin-top: 100px;
    display: flex;

}

.frase-repeticao{
    font-size: 40px;
    margin: 0;
}


.btn-container{
    margin-top: 70px;
    padding: 0px 120px;
}

.frase-conteudo{
    padding: 0px 120px;
}

.frase-conteudo p{
    font-size: 21px;
    width: 43%; 
    margin-top: 30px;
}

.frase-repeticao {
    display: inline-block;
    background: linear-gradient(90deg, #7869FF, #C74343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.typed-cursor {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.btn-contato-home{
    background-color: transparent;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    border-radius: 14px;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #ffffff;

}

.btn-contato-home:hover{
    background-color: transparent;
    border: 2px solid white;
}

/* Seção principal */
.o-que-fazemos {
    padding: 60px  0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container-servicos{
    display: flex;
    padding: 0px 65px 0px 65px;
    justify-content: space-between;
}

/* Texto do título e parágrafo */
.texto {
    flex: 1;
    max-width: 45%;
}

.texto h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.texto .destaque {
    color: #7869FF;
    font-weight: bold;
}


.texto p {
    font-size: 22px;
    line-height: 1.5;
    margin-right: 170px;
}

.icone-titulo{
    display: flex;
    align-items: center;
}

.linha {
    width: 170px;
    height: 5px;
    background: linear-gradient(90deg, #7869FF, #C74343);
    margin-top: 20px;
    border-radius: 5px;
}

.linha-roxa {
    width: 150px;
    height: 5px;
    background-color: #7869FF;
    margin-top: 20px;
    border-radius: 5px;
}

/* Cards */
.cards {
    flex: 1;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: #121A2A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.card .icone {
    font-size: 2.5rem;
}

.card h3 {
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.card p {
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
}

.icone img{
    margin-right: 15px;
}


/* SOBRE NÓS */

.container-sobre-nos{
    padding: 65px;
    background: linear-gradient(90deg, #7869ff51, #c743434a);
}

.titulo-img{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.titulo-img h1{
    margin: 0;
    font-weight: 500;
}

.titulo-img img{
    width: 120px;
}

.descricao{
    margin: 80px 0px 0px;
    font-size: 20px;
    text-align: justify;
}

.container-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 150px;
    background-color: #11181F;
}

.linha-logotipo {
    background-image: url(img/dag4-repeticao.png);
    background-repeat: repeat-x;
    background-size: 180px  auto;
    background-position: 10px center;
    height: 100px;
    width: 100%;
    opacity: 0.2;
    margin-bottom: 10px;
}

.div-textos h1{
    text-align: center;
    font-size: 30px;
}

.div-textos p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
}

.btn-whats{
    padding: 10px 70px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 600;
}
.btn-whats:hover{
    border: 2px solid #7869FF;
    background-color: #7869FF;
}

/* FOOTER */

.container-footer{
    display: flex;
    justify-content: space-between;
    padding: 65px;
}

.logo-descricao{
    width: 500px;
}

.logo-descricao img{
    width: 150px;
}

.logo-descricao p{
    font-size: 22px;
}

.nav-footer{
    display: flex;
    flex-direction: column;
}

.nav-footer h2{
    text-transform: uppercase;
}

.nav-footer a{
    color: white;
    text-decoration: none;
    margin: 5px 0px;
    font-size: 18px;
}

.icone-nome{
    display: flex;
    align-items: center;
}

.icone-nome svg{
    margin-right: 5px;
}

.icone-nome p{
    margin: 0;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    margin: 0.83em 0px;
}

.redes-sociais .icon{
    color: white;
}


@media (max-width: 748px) {
    .frase-conteudo p{
        width: 100%;
    }

    .div-frase{
        flex-direction: column;
    }
    
    .div-frase, .frase-conteudo, .btn-container {
        padding: 0px 70px;
    }

    .div-header{
        padding: 0px 50px;
    }
}

@media (max-width: 478px) {
    .div-frase{
        margin-top: 30px;
    }
    .nav-link svg{
        width: 30px;
    }
    .logotipo{
        width: 140px;
    }
}

@media (max-width: 420px) {
    .div-frase, .frase-conteudo, .btn-container {
        padding: 0px 34px;
    }
    .div-header {
        padding: 0px 18px;
    }
    .frase{
        font-size: 35px;
    }
    .frase-conteudo p {
        font-size: 16px;
    }
    .btn-contato-home {
        padding: 10px 10px;
        border-radius: 9px;
        font-size: 16px;
    }
    .btn-container {
        margin-top: 54px;
    }
}